{% load i18n %}
<div class="readonly payments-row">
        {% if not payment %}
            <a href="{{ url }}">
                {% trans "Unpaid" %}
            </a>
             -
            € {{ payment.amount }}
             -
            <a data-href="{% url 'admin:payments_pay' %}"
               data-next="true" data-type="cash_payment"
               class="button process">{% trans "Add payment (cash payment)" %}</a>
            <a data-href="{% url 'admin:payments_pay' %}"
               data-next="true" data-type="card_payment"
               class="button process">{% trans "Add payment (card payment)" %}</a>
            {% if widget.value and payment.paid_by.tpay_enabled %}
                <a data-href="{% url 'admin:payments_pay' %}"
                   data-next="true" data-type="tpay_payment"
                   class="button process">{% trans "Add payment (Thalia Pay payment)" %}</a>
            {% else %}
                <a class="button" disabled>{% trans "Add payment (Thalia Pay payment)" %}</a>
            {% endif %}
            <a data-href="{% url 'admin:payments_pay' %}"
               data-next="true" data-type="wire_payment"
               class="button process">{% trans "Add payment (wire payment)" %}</a>
        {% else %}
            <a href="{{ url }}">
                {% trans "Paid" %}
            </a>
             -
            {{ payment.processing_date }} - {{ payment.get_type_display }}
        {% endif %}
</div>
